# Sunucu
PORT=3000
NODE_ENV=development

# PostgreSQL bağlantısı
DATABASE_URL=postgres://izbutik:izbutik123@127.0.0.1:5432/izbutik_db

# Alternatif olarak tek tek değişkenler
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=izbutik
PGPASSWORD=izbutik123
PGDATABASE=izbutik_db
